@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}


:root{
  --accent-1: hsl(226, 51%, 29%);
  --accent-2 :hsl(200, 71%, 50%);
  
  --primary-bg-color : hsl(0, 0%, 95%);  
  --secondary-bg-color : hsl(0, 0%, 70%);

  --primary-text-color : hsl(0, 0%, 10%);
  --secondary-text-color :hsl(0, 0%, 40%);

  --primary-border-color:hsl(0, 0%, 20%); 

  --button-solid-color:var(--accent-1);
  --button-solid-text-color:var(--accent-2);

}

[data-theme="dark"]{
  --accent-1: hsl(226, 51%, 29%);
  --accent-2: hsl(226, 51%, 0%);
  
  /* --primary-bg-color : hsl(0, 0%, 90%);   */
  --primary-bg-color : yellow;  
  --secondary-bg-color : hsl(0, 0%, 70%);

  /* --primary-text-color : hsl(0, 0%, 20%); */
  --primary-text-color : yellow;
  --secondary-text-color :hsl(0, 0%, 0%);

  --primary-border-color:hsl(0, 0%, 20%); 

  --button-solid-color:var(--accent-1);
  --button-solid-text-color:var(--accent-2);
}


 body{
  font-family: Inter;
  color: var(--primary-text-color)
} 

h1{
  font-size: 4rem;
  line-height: 4rem;
}

.bold{
 font-weight: 600;
}
h2{
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.4rem;
}

h3{
  font-size: var(--text-2xl);
  font-weight: 600;
}
p{
  font-size:1rem
}
img{
  width: 100%;
  height: auto;
  
}

small{
  color: var(--secondary-text-color)
}

/* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@keyframes expand {
  from{
    width : 0px;
  }
  to{
    width : 400px;
  }
}